<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Vue</title>
  </head>

  <body>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


  <div id="app">
      <h1 v-bind:title="Menu">
        {{title}}
      </h1>

      <h3 v-if="isVisible">Concition ONE</h3>
      <h3 v-else="isVisible">Condiction TWO</h3>

      <ul>
        <li v-for="todoItem in items">{{todoItem}}</li>
      </ul>
      <input type="text" v-model="item">
      <button @click="items.push(item)">Add a Vue DO</button>

      <ul>
        <li v-for="thing in things">
          {{ thing.text }}
          <div v-if="thing.checked">
            Checked!!
          </div>
          <div v-else="thing.checked">NOT Checked...</div>
          <button @click="thing.checked = ! thing.checked">Click Me...</button>
        </li>
      </ul>

      <hr>
      <h5>Vue Method</h5>

      <div >Price: {{price}}</div>
      <input type="text" v-model="price">
      <button @click="">Calculate</button>
      <div>Tax: {{ moneyFormat(tax)}}</div>
      <div>Total: {{ moneyFormat(calculateTotal) }}</div>

      <hr>
      <h5>Basic Vue Component</h5>
      <accordian v-for="worker in workers" :worker="worker">

      </accordian>




  </div>

    <script>

      Vue.component('accordian', {
        props: ["worker"],
        template: `
        <div>
          <p>{{ worker.name }}</p>
          <button @click="toggleDescription = ! toggleDescription">Details</button>
          <p v-if="toggleDescription">{{ worker.description }}</p>
        </div>
        `,
        data: function () {
          return {
            toggleDescription: false
          }
        }
      })


    new Vue({
      el: '#app',
      data: {
        title: "Vue Do",
        item: "",
        items: [
          "item 1",
          "item 2",
          "item 3"
        ],
        isVisible: false,
        things: [
          {text: 'One', checked: true},
          { text: 'Two', checked: true },
          { text: 'Three', checked: false },
        ],
        price: 100,
        workers: [
          {name: "Ken", description: "Ken is cool."},
          { name: "Glen", description: "Glen is ten." },
          { name: "Suzie", description: "Suzie is a doozy." },
          { name: "Beth", description: "Beth is the harbringer of Death." },
        ]
      },
      computed: {
        tax: function () {
          return this.price * 0.12
        },
        calculateTotal: function () {
          return parseInt(this.price) + this.tax
        }
      },
      methods: {
        moneyFormat: function (price) {
            return "$" + price
        }
      }

    });
    </script>

  </body>

  </html>

