<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Vue</title>
  </head>

  <body>




  <div id="app">
      <h1>
        {{title}}
      </h1>

      <h3 v-if="isVisible">Concition ONE</h3>
      <h3 v-else="isVisible">Condiction TWO</h3>

      <ul>
        <li v-for="todoItem in items">{{todoItem}}</li>
      </ul>
      <input type="text" v-model="item">
      <button @click="items.push(item)">Add a Vue DO</button>

      <ul>
        <li v-for="thing in things">
          {{ thing.text }}
          <div v-if="thing.checked">
            Checked!!
          </div>
          <div v-else="thing.checked">NOT Checked...</div>
          <button @click="thing.checked = ! thing.checked">Click Me...</button>
        </li>
      </ul>

      <hr>
      <h5>Vue Method</h5>

      <div >Price: {{price}}</div>
      <input type="text" v-model="price">
      <button @click="">Calculate</button>
      <div>Tax: {{ moneyFormat(tax)}}</div>
      <div>Total: {{ moneyFormat(calculateTotal) }}</div>

      <hr>
      <h5>Basic Vue Component</h5>
      
      <accordian v-for="worker in workers" :key="worker.id" :worker="worker">

      </accordian>
      <hr>
      <h5>Nested Component</h5>

      <list></list>
      <br>
      <h4>API call</h4>
      <ul>
        <li v-for="post in posts" v-text="post.title">

        </li>
      </ul>


  </div>

  <script src="./dist/app.js"></script>



  </body>

  </html>

